{% extends 'index.html' %} {% load render_table from django_tables2 %}

{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Delete orderitem</div> <br>
            <h2>Are you sure you want to delete the orderitem item "{{ object.product }}"?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn btn-block btn-outline-danger btn-xs">Yes, Delete</button>
            <a href="{% url 'orderitem' %}" class="btn ghost-button">Cancel</a>
        </div>
        
    </form>

{% endblock %}